[Unit]
Description=Detect Water leakage and Power Blackout

[Service]
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 /home/pi/detect.py
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
